@use "../mixin" as *;

// ハンバーガーメニューのボタン
.sp-menu {
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	padding: 0;
	border: none;
	background-color: rgba(#fff, .5);
	font-family: inherit;
	line-height: 1;
	outline: none;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
}

%sp-menu__bar {
	position: absolute;
	left: 10px;
	right: 10px;
	height: 1px;
	background-color: #000;
	transition: all 0.3s;
}

.sp-menu__bar-1 {
	@extend %sp-menu__bar;
	display: block;
	top: 14px;
	transform-origin: left;

	.is-drawer-active & {
		transform: translateY(-4px) rotate(45deg) scaleX(1.4142);
	}
}

.sp-menu__bar-2 {
	@extend %sp-menu__bar;
	display: block;
	top: 24px;

	.is-drawer-active & {
		transform: scaleX(0);
	}
}

.sp-menu__bar-3 {
	@extend %sp-menu__bar;
	display: block;
	top: 34px;
	transform-origin: left;

	.is-drawer-active & {
		transform: translateY(5px) rotate(-45deg) scaleX(1.4142);
	}
}

