<%- include('common/_header', {
	page: 'home',
	title: 'タイトル',
	description: 'ページの説明',
	noindex: false
}); %>
<!-- <div class="wrapper"> -->
	<div class="top">
		<div class="top__container">
			<p class="top__hilight">「声」がとどく、<br>「出逢い」がひろがる。</p>
			<h2 class="top__catch">面接で魅力に感じた企業を共有する<br>ITエンジニア転職特化の面接クチコミサービス</h2>
			<div class="top__card">
				<div class="top__items">
					<input type="text" name="" value="" placeholder="企業名から検索"  class="top__select -name" formaction="" />
					<label for="" class=""></label>
					<select name="言語" id="" class="top__select">
						<option value="" class="top__option" hidden>言語</option>
						<option value="" class="top__option">Ruby</option>
						<option value="" class="top__option">Ruby</option>
						<option value="" class="top__option">Ruby</option>
						<option value="" class="top__option">Ruby</option>
					</select>

				</div>
			</div>
		</div>
	</div>
<!-- </div> -->

<%- include('common/_footer'); %>
