@charset "UTF-8";
/* ベース定義 */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, ul, ol {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, sans-serif;
  line-height: 1.75;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

a, button {
  outline: none;
}

ul {
  list-style: none;
}

/* Utilities */
.u-left {
  text-align: left !important;
}

.u-center {
  text-align: center !important;
}

.u-right {
  text-align: right !important;
}

.u-font-bold {
  font-weight: bold !important;
}

.u-font-normal {
  font-weight: normal !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

@media only screen and (max-width: 767px) {
  .u-block-sp {
    display: block !important;
  }
  .u-inline-block-sp {
    display: inline-block !important;
  }
  .u-inline-sp {
    display: inline !important;
  }
}

@media only screen and (min-width: 768px), print {
  .u-block-pc {
    display: block !important;
  }
  .u-inline-block-pc {
    display: inline-block !important;
  }
  .u-inline-pc {
    display: inline !important;
  }
}

.u-nowrap {
  white-space: nowrap !important;
}

@media only screen and (max-width: 767px) {
  .u-hidden-sp {
    display: none !important;
  }
}

@media only screen and (min-width: 768px), print {
  .u-hidden-pc {
    display: none !important;
  }
}

/* Layouts */
@media only screen and (min-width: 768px), print {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px), print {
  .wrapper {
    min-width: 1040px;
    overflow: hidden;
  }
}

/* Blocks */
.btn {
  display: inline-block;
  position: relative;
  padding: 10px;
  background-color: #999;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.header {
  width: 100%;
  height: 90px;
  background-color: #0e6bac;
}

.top {
  height: 584px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 120px);
  max-width: 1320px;
  background-image: url(/assets/img/top-image.png);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

.top__container {
  max-width: 958px;
  margin-left: auto;
  margin-right: auto;
}

.top__hilight {
  color: #fff;
  font-size: 48px;
  line-height: 77px;
  letter-spacing: 18%;
}

.top__catch {
  color: #fff;
  margin-top: 24px;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 18%;
}

.top__card {
  max-width: 958px;
  background-color: #fff;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.top__items {
  display: flex;
  justify-content: flex-start;
}

.top__select {
  height: 46px;
  border: 1px solid #edf1f3;
  padding-left: 10px;
  font-size: 14px;
}

.top__select::-webkit-input-placeholder {
  color: #bbb;
}

.top__select::-moz-placeholder {
  color: #bbb;
}

.top__select:-ms-input-placeholder {
  color: #bbb;
}

.top__select::-ms-input-placeholder {
  color: #bbb;
}

.top__select::placeholder {
  color: #bbb;
}
