$pc_width: 1000px;
$pc_padding: 40px;
$sp_padding: 10px;
$break_sm: 768px;
$break_lg: $pc_width + ($pc_padding * 2);

// レスポンシブ メディアクエリ
@mixin sm {
	@media screen and (max-width: ($break_sm - 1px)) {
		@content;
	}
}

@mixin sm_up {
	@media screen and (min-width: $break_sm), print {
		@content;
	}
}

@mixin md {
	@media screen and (min-width: $break_sm) and (max-width: ($break_lg - 1px)) {
		@content;
	}
}

@mixin lg_down {
	@media screen and (max-width: ($break_lg - 1px)) {
		@content;
	}
}

@mixin lg {
	@media screen and (min-width: $break_lg) {
		@content;
	}
}


// ホバー時アンダーライン
@mixin text_hover_effect {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
